---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Python Netzwerkprogrammierung",
    desc: [
      "In einem Team von zwei Entwicklern eine Netzwerkapplikation in Python erstellt",
      "Implementierung von Client-Server-Kommunikation über Sockets",
    ],
    tech: ["Python", "Cisco IoT"]
  },
  {
    title: "Zahlenraten Azure",
    desc: [
      "Eine einfache Zahlenraten-Webanwendung, die auf Microsoft Azure gehostet wird",
      "Zum Lernen und Experimentieren mit Cloud-Diensten entwickelt",
    ],
    tech: ["HTML", "JavaScript", "Azure App Services", "DeepSeek", "GitHub"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="DevOps | Timo Winkler" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>DevOps</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
