---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    title: "Diplomarbeit - 360 BaustellenViewer",
    desc: [
      "Diplomarbeit von Timo Winkler und Enest Redzic",
      "Entwicklung einer Applikation zur Visualisierung von 360° Baustellenfotos",
      "Implementierung von Features wie Hotspots, Navigation und Informationsanzeigen",
    ],
    tech: [".NET MAUI", "C#", "GitHub", "Insta360"]
  },
  {
    title: "Portfolio Website",
    desc: [
      "Ein persönliches Portfolio zur Präsentation von Projekten und Fähigkeiten",
      "Die Website die Sie gerade besuchen!",
    ],
    tech: ["Astro (JS)", "Tailwind CSS"]
  },
  {
    title: "Zahlenraten Azure",
    desc: [
      "Eine einfache Zahlenraten-Webanwendung, die auf Microsoft Azure gehostet wird",
      "Zum Lernen und Experimentieren mit Cloud-Diensten entwickelt",
    ],
    tech: ["HTML", "JavaScript", "Azure App Services", "DeepSeek", "GitHub"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Personal Projects | Timo Winkler" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
